div#padding {
  width: 100px;
  height: 100px;
  background-color: red;
  color: yellow;
  padding: 20px;
}

code#syntax {
  background-color: burlywood;
  font-size: 20px;
}

div#border {
  width: 100px;
  height: 100px;
  background-color: violet;
  color: greenyellow;
  padding: 20px;
  border: 20px outset blue;

  border-radius: 30px 50px 70px 90px;
}

.box {
  width: 200px;
  height: 200px;
}

.box1 {
  background-color: lightgrey;
  border: 10px solid purple;
}

.box2 {
  background-color: red;

  margin-left: 220px;
}

.box3 {
  background-color: red;

  margin-left: 420px;
}
